body
{
	background-color: #daded4;
}

h2 {
	font-family: Arial, sans-serif;
}

h3 {
	font-family: Arial, sans-serif;
	font-style: italic;
}

p {
	font-family: "Times New Roman", serif;
}

span.aliases {
	font-style: italic;
}

span.summary {
	font-style: italic;
}

span.tags {
	font-style: italic;
}

span.variant-id {
	color: gray;
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #ddd;
}

td
{
	padding-right: 5px;
}

td.cards, td.players, td.rounds, td.max-seen, td.wilds, td.source {
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #a3bcb6;
}

tr:hover {
	background-color: #59805d;
}

@media print {
	body
	{
		background-color: transparent;
	}

	span.variant-id {
		color: black;
	}

	th, td {
		border-bottom: 1px solid black;
	}

	tr:nth-child(even) {
		background-color: transparent;
	}

	tr:hover {
		background-color: transparent;
	}
}