body
{
	background-color: #daded4;
}

h2 {
	font-family: Arial, sans-serif;
}

h3 {
	font-family: Arial, sans-serif;
	font-style: italic;
}

p {
	font-family: "Times New Roman", serif;
}

span.aliases {
	font-style: italic;
}

span.summary {
	font-style: italic;
}

span.tags {
	font-style: italic;
}

span.variant-id {
	color: gray;
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #ddd;
}

td
{
	padding-right: 5px;
}

td.cards, td.players, td.rounds, td.max-seen, td.wilds, td.source {
	font-weight: bold;
}

tr:hover {
	background-color: #59805d !important;
}

tr:nth-child(even) {
	background-color: #a3bcb6;
}